# ignore everything in the root except the "wp-content" directory.
!www/wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
www/wp-content/*
!www/wp-content/mu-plugins/
!www/wp-content/plugins/
!www/wp-content/themes/

# ignore these plugins
www/wp-content/plugins/hello.php

# ignore specific themes
www/wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
